*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

a{
    color: #b3b7bd;
}

a:hover{
    color: black;
}

.black{
    color: black;
}

.btn{
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: #eb008d;
}

.container{
    width: 1200px;
    height: 100%;
    margin: auto;
}

nav{
    width: 100%;
    height: 150px;
    line-height: 150px;
}

nav::after{
    content: '';
    display: table;
    clear: both;
}

nav .nav-left{
    width: 30%;
    height: 100%;
    float: left;
}

nav .nav-right{
    width: 65%;
    height: 100%;
    float: right;
}

.nav-left .box-img{
    width: 40%;
    height: 100%;
    float: left;
}

.box-img img{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 10px;
}

.nav-left .content-left{
    width: 60%;
    height: 100%;
    float: left;
}

.content-left ul{
    display: flex;
    justify-content: space-around;
}

.content-left a{
    text-transform: uppercase;
}

.nav-right .content-right ul{
    display: flex;
    justify-content: space-between;
}

.content-right ul i{
    margin-left: 5px;
    font-size: 15px;
}

/* dropdown */

.dropdown-menu.active{
    display: block;
}

ul li{
    position: relative;
}

.dropdown-menu{
    padding: 20px;
    line-height: 40px;
    box-shadow: 1px 1px 5px #b1aeaead;
    display: none;
}

.dropdown-menu.first-menu{
    position: absolute;
    top: 100px;
    left: -20px;
    /* display: none; */
}

.dropdown-menu.second-menu{
    width: 300px;
    position: absolute;
    top: 100px;
    left: -125px;
    /* display: none; */
}

.dropdown-menu.third-menu{
    width: 150px;
    position: absolute;
    top: 100px;
    left: -50px;
    /* display: none; */
}

.dropdown-menu.fourth-menu{
    width: 180px;
    position: absolute;
    top: 100px;
    left: -70px;
    /* display: none; */
}

.dropdown-menu.fifth-menu{
    position: absolute;
    top: 100px;
    left: -35px;
    /* display: none; */
}

.ico-up{
    display: none;
}